  h3 {
  color: Blue;
  text-decoration: overline underline 5px salmon dashed;
  letter-spacing: 3px;
  text-shadow 2px 2px 5px red;
}

body {
  background-color: wheat;
}
  img:hover {
    width: 300px;
    border: dotted purple 10px;
    
  }
  h3:hover {
    text-decoration: underline wavy purple 6px;
    font-size: 200%;
    text-transform: uppercase;
  }




nav {
  list-style-type: none;
  background-color: blue;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  float: left;
  padding: 15px 200px;
}

li a:hover {
  background-coolor: wheat;
  color: black;
}
